{% extends "base.html" %}
{% block title %}RNA-seq Analysis Tools{% endblock %}

{% block meta_description %}
Free RNA-seq analysis platform with differential expression, pathway enrichment, ID mapping and ssGSEA tools. Beginner-friendly and runs locally.
{% endblock %}

{% block content %}
<div class="container">

<div class="hero">
  <div class="hero-inner">
   <h1>
Free Online RNA-seq Analysis Tools
</h1>
    <p class="hero-desc">
      This free online RNA-seq analysis platform allows you to perform differential gene expression, pathway enrichment, ssGSEA and gene ID conversion directly in your browser. It also provides executable files in the Sources tab for converting FASTQ files to gene counts. They are designed and optimized to run locally on a personal computer. </p>

  </div>
</div>

  <div class="cards">
    <div class="card">
      <h3>DEG - Differential Gene Expression Analysis</h3>
      <p>
        Identify genes that are significantly differentially expressed between experimental conditions.
        This tool compares expression levels, calculates fold changes, p-values and adjusted pValues.
      </p>
      <a class="learn-link" href="/tutorial#deg">Learn how to use</a>
    </div>

    <div class="card">
      <h3>Pathway Analysis</h3>
      <p>
        Analyze biological pathways enriched in your gene list to understand functional meaning.
        This tool links differential expression results to pathways, processes, and molecular functions for interpretation.
      </p>
      <a class="learn-link" href="/tutorial#pathway">Learn how to use</a>
    </div>

    <div class="card">
      <h3>ID2Symbol - Mapping gene ID to symbol</h3>
      <p>
        A tool that maps Ensembl Gene IDs (ENSG) and Entrez Gene IDs to official gene symbols.
        It enables standardized gene annotation and conversion between identifier systems.
      </p>
      <a class="learn-link" href="/tutorial#id2symbol">Learn how to use</a>
    </div>

    <div class="card">
      <h3>ssGSEA-single sample Gene Set Enrichment Analysis</h3>
      <p>
  A tool that calculate an enrichment score for a predefined gene set. 
It ranks all genes in a sample by expression and derives a score reflecting the relative enrichment of the predefined gene set. 
      </p>
      <a class="learn-link" href="/tutorial#ssgsea">Learn how to use</a>
    </div>
  </div>

  <p class="workflow-cta">
    Need FASTQ files to gene counts?
    <a href="/workflow">click here</a>.
  </p>

</div>
{% endblock %}



