{% extends "base.html" %}
{% block title %}RNA-seq Analysis Tools{% endblock %}

{% block content %}
<div class="container">

<div class="hero">
  <div class="hero-inner">
   <h1>
  <span class="highlight">Simple &amp; Free</span> RNA-seq Analysis Tools
</h1>
    <p class="hero-desc">
      This free RNA-seq analysis platform provides simple, beginner friendly tools for common analyses without coding or complex software installation. I will also share my experience developing an AI assisted RNA-seq workflow from the perspective of a biomedical researcher.

    </p>

  </div>
</div>

  <div class="cards">
    <div class="card">
      <h3>DEG - Differential Gene Expression Analysis</h3>
      <p>
        Identify genes that are significantly differentially expressed between experimental conditions.
        This tool compares expression levels, calculates fold changes, p-values and adjusted pValues.
      </p>
      <a class="learn-link" href="/tutorial#deg">Learn how to use</a>
    </div>

    <div class="card">
      <h3>Pathway Analysis</h3>
      <p>
        Analyze biological pathways enriched in your gene list to understand functional meaning.
        This tool links differential expression results to pathways, processes, and molecular functions for interpretation.
      </p>
      <a class="learn-link" href="/tutorial#pathway">Learn how to use</a>
    </div>

    <div class="card">
      <h3>ID2Symbol - Mapping gene ID to symbol</h3>
      <p>
        A tool that maps Ensembl Gene IDs (ENSG) and Entrez Gene IDs to official gene symbols.
        It enables standardized gene annotation and conversion between identifier systems.
      </p>
      <a class="learn-link" href="/tutorial#id2symbol">Learn how to use</a>
    </div>

    <div class="card">
      <h3>ssGSEA-single sample Gene Set Enrichment Analysis</h3>
      <p>
  A tool that calculate an enrichment score for a predefined gene set. 
It ranks all genes in a sample by expression and derives a score reflecting the relative enrichment of the predefined gene set. 
      </p>
      <a class="learn-link" href="/tutorial#ssgsea">Learn how to use</a>
    </div>
  </div>

  <p class="workflow-cta">
    For those interested in the RNA-seq workflow and AI coding details,
    <a href="/workflow">click here</a>.
  </p>

</div>
{% endblock %}
