{% extends "base.html" %}
{% block title %}AI Coding for RNA-Seq workflow{% endblock %}

{% block content %}
<div class="container">
  <div class="hero">
    <h1>AI Coding for RNA-Seq workflow</h1>
   </div>

<div class="card" style="max-width: 900px; margin: 0 auto;">
  <h3>Coming Soon</h3>
  <p>
   I will share my experience with AI coding here over time. Check back soon.
  </p>

  <hr style="margin:25px 0;">

  <h3>Who is this section for?</h3>
  <ul>
    <li>Researchers with little or no coding experience</li>
    <li>Users interested in learning AI-assisted bioinformatics coding</li>
    <li>Scientists who want to customize analysis for their own RNA-seq data</li>
    <li>Students and biologists exploring new computational technologies</li>
  </ul>
</div>

</div>
{% endblock %}
